@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Regular.ttf"),
    url("./assets/fonts/Lato/Lato-Thin.ttf"),
    url("./assets/fonts/Lato/Lato-Bold.ttf"),
    url("./assets/fonts/Lato/Lato-Light.ttf"),
    url("./assets/fonts/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf"),
    url("./assets/fonts/Comfortaa/static/Comfortaa-Light.ttf"),
    url("./assets/fonts/Comfortaa/static/Comfortaa-Medium.ttf"),
    url("./assets/fonts/Comfortaa/static/Comfortaa-semiBold.ttf"),
    url("./assets/fonts/Comfortaa/static/Comfortaa-Bold.ttf");
}

:root {
  --primary-color-0: #ecf0fd;
  --primary-color-100: #d2dbfb;
  --primary-color-200: #9ab3f6;
  --primary-color-300: #588cf1;
  --primary-color-400: #2d68c4;
  --primary-color-500: #1c4688;
  --primary-color-600: #0d2751;
  --primary-color-700: #031028;

  --secondary-color-100: #dbdcde;
  --secondary-color-200: #b3b4b9;
  --secondary-color-300: #8c8e95;
  --secondary-color-400: #686a70;
  --secondary-color-500: #46484c;
  --secondary-color-600: #27282b;
  --secondary-color-700: #101112;

  --border-radius-sm: 16px;
  --border-radius-md: 20px;
  --btn-border-radius: 360px;
  --border-top-radius-0: 0px 0px 16px 16px;

  --gradient-blue: linear-gradient(105deg, #2d68c4 18.98%, #688cc4 100%);
  --font-xsm: 16px;
  --font-sm: 24px;
  --font-md: 32px;
  --font-lg: 48px;

  --padding-xsm: 12px;
  --padding-sm: 14px;
  --padding-md: 16px;
  --padding-lg: 20px;
  --padding-xl: 28px;
  --padding--2xl: 32px;
  --padding-3xl: 42px;

  /* --padding-xsm: 5px;
  --padding-sm:  10px;
  --padding-md: 16px;
  --padding-lg: 20px; */
  /* --comfortaa-font: "Comfortaa";*/
}
